page-home {
}

.navbar{
  display: block;
  background-color: black;
}

page-home .ionContent{
  margin: 0px;
  background-color: #efefef;
}

page-home img{
  display: block;
  align-content: center;
  margin: auto;
  height: auto;
  margin-top: -1.1em;
}

page-home h2{
  display: block;
  align-content: center;
  margin: auto;
  height: auto;
  background-color: #00061a;
  color: white;
}

page-home .feedList{

}

page-home .feedItem{

  margin-bottom: 10px;
}
