<ion-content class="ionContent" padding>
  <img src="assets/imgs/top.png" class="imgHeader"/>
  <h2>Opinión</h2>
  <p>
    Últimas entradas de la sección Opinión de mi blog
  </p>
   <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
   <ion-list class=feedList>
     <ion-item *ngFor="let item of articles" (click)="openArticle(item.link)" class="feedItem">
      <div class="article-title">{{item.title}}</div><br>
      <p [innerHtml]="item.description"></p>
    </ion-item>
   </ion-list>
 </ion-content>
